.section__separator {
  bottom: -4px;
  left: 0;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .section__separator {
    bottom: -110px;
  }
  .section__separator .separator__svg {
    left: -20%;
    position: relative;
    transform: rotate(15deg);
    width: 140%;
  }
}
