@import "../../themes/default.scss";

.section__separator {
  height: 300px;
  bottom: 0px;
  left: 0;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .section__separator {
    .separator__svg {
      left: -20%;
      position: relative;
      transform: rotate(0deg);
      width: 140%;
    }
  }
}
