@import '../../themes/default.scss';

.certifications__main--wrapper {
  padding: 0 2em;

  .certifications__header--wrapper {
    display: flex;

    .certifications__header {
      font-family: $Normal;
      font-weight: 100;
      border-bottom: solid 1px orange;
    }
  }

  .grid__wrapper {
    display: grid;
    row-gap: 2em;
    margin-bottom: 2em;
  }
}

.certifications__lightBox {
  display: flex;
  position: absolute;
  top: 50px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparentize($color: $black, $amount: .3);
  z-index: 30;
  pointer-events: all;
  overflow: hidden;
}

@media screen and (min-width: 320px) {}
@media screen and (min-width: 480px) {}
@media screen and (min-width: 768px) {
  .grid__wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
  }
}
@media screen and (min-width: 1024px) {
  .grid__wrapper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
  }
}
